<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="box">
                        <h1 class="title is-4 has-text-centered">Register</h1>

                        <form method="post" action="/">
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Your Name" name="name">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                    <input class="input" type="email" placeholder="Your Email" name="email">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control">
                                    <input class="input" type="password" placeholder="Your Password" name="password">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Monthly Limit</label>
                                <div class="control">
                                    <input class="input" type="number" placeholder="Your Limit" name="limit">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary is-fullwidth">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <p class="has-text-centered">
                            Already have an account? <a href="/user/login">Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
